<%- include('../includes/header.ejs')%>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  </head>

  <body class="bg-gradient-primary">

    <div class="container mt-5 pt-2">

      <!-- Outer Row -->
      <div class="row justify-content-center p-0">

        <div class="col-xl-12 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image "></div>
                <div class="col-lg-6 border-left">
                  <div class="p-5">
                    <div class="text-center fs-1 fw-bold mb-3">
                      <a class="text-decoration-none text-dark" href="/"><i class="fa-solid fa-business-time"></i>
                        BUZZINGA</a>
                    </div>
                    <hr>
                    <div class="text-center ">
                      <h1 class="h3 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input type="email" id="email" class="form-control form-control-user" id="exampleInputEmail"
                          aria-describedby="emailHelp" placeholder="Enter Email Address">
                      </div>
                      <div class="form-group">
                        <input type="password" id="password" class="form-control form-control-user"
                          id="exampleInputPassword" placeholder="Password">
                      </div>
                      <button class="btn btn-primary fs-6 btn-user btn-block mb-2" id="btnSignIn">
                        Login
                      </button>
                      <span align="center" class="d-none text-danger form-outline border border-secondary"
                      id="validationFail" name="validationFail"
                      style="display:inline-block; width: 100%;background-color: rgb(253, 180, 172);"></span>
                      <br>
                      <span align="center" class="d-none text-success form-outline text-center border border-secondary"
                      id="validationSuccess" name="validationSuccess"
                      style="display:inline-block; width: 100%; background-color: rgb(172, 253, 172);"></span>
                      <hr>
                      <a href="#" class="btn btn-google fs-6 btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                      </a>
                      <a href="#" class="btn btn-facebook fs-6 btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                      </a>

                    </form>
                    <hr>
                    <div class="text-center fs-5">
                      <a class="small" href="/forgot-password">Forgot Password?</a>
                    </div>
                    <div class="text-center fs-5">
                      <a class="small" href="/signup">Don't have an account? SignUp!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script src="/js/login.js"></script>
    <!-- Bootstrap core JavaScript-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> --> -->
    <!-- Custom scripts for all pages
<script src="js/sb-admin-2.min.js"></script> -->


  </body>