<section class="header">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand mx-5" href="/"><i class="fa-solid fa-business-time"></i> BUZZINGA</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto px-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary px-3 me-4 ">
       <a class="text-white text-decoration-none" href="/signUp"> Sign Up For Free</a>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary px-3 me-4 ">
        <a class="text-white text-decoration-none" href="/login"> Login </a>
      </button>
    </div>
  </nav>
</section>