<%- include('./includes/header.ejs')%>
  <link rel="stylesheet" href="/css/home.css" </head>
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <body >
    <%- include('./includes/navbar.ejs')%>
      <div id="home-main" class="bg-gradient-primary">
        <div id="content" class="home-heading">
              <h1 class="display-1 text-white fw-bold pb-2">
                Your Business. <br />
                <span id="" class="text-primary">Anywhere</span>
              </h1>
              <p class="fs-5 text-light fw-bold">
                Whether on the go or working remotely, your business is with you.
                BUZZINGA keeps you connected to your business at all times.
              </p>
                <p class="fs-5 text-light fw-bold">
                All the features and reports you love, available on the go, all the time.
              </p>
              <div>
                  <button class="btn btn-secondary btn-lg rounded-pill px-4 mx-3">Read More</button>
                  <a class="btn btn-light btn-lg rounded-pill px-4 mx-3" href="/signup">Let's Start</a>

              </div>
      </div>
      </div>
      <div style="height: 100vh;"></div>
      <%- include('./includes/footer.ejs')%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  </body>